[package]
name = "crypto-cli"
version = "1.0.0"
authors = ["Polymath"]
description = "Test utilities for Substrate node."
edition = "2021"

[dependencies]
polymesh-primitives = { path = "../../primitives" }
confidential_identity_v1 = { version = "1.0.0" }
codec = { version = "3.0.0", package = "parity-scale-codec" }
hex = "0.4.0"
