[package]
name = "crypto-cli"
version = "1.0.0"
authors = ["Polymath"]
description = "Test utilities for Substrate node."
edition = "2018"

[dependencies]
polymesh-primitives = { path = "../../primitives" }
confidential_identity = { git = "https://github.com/PolymathNetwork/cryptography.git", tag = "v2.2.1" }
codec = { version = "1.2.0", package = "parity-scale-codec" }
hex = "0.4.0"
