[submodule "external/cryptography"]
	path = external/cryptography
	url = git@github.com:PolymathNetwork/cryptography.git
	branch = develop

[submodule "pallets/settlement"]
	path = pallets/settlement
	url = git@github.com:PolymathNetwork/polymesh-settlement-module.git
