[package]
name = "polymesh"
version = "3.0.1"
authors = ["Polymath"]
build = "build.rs"
edition = "2018"

[[bin]]
name = "polymesh"
path = "src/main.rs"

# Path build to use our Substrate version from github, tag `v2.0.1-2`.
[patch.crates-io]
frame-benchmarking = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
frame-benchmarking-cli = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
frame-executive = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
frame-support = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
frame-system = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
frame-system-benchmarking = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
frame-system-rpc-runtime-api = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-authority-discovery = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-authorship = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-babe = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-balances = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
#pallet-contracts = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
#pallet-contracts-primitives = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
#pallet-contracts-rpc = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
#pallet-contracts-rpc-runtime-api = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-grandpa = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-im-online = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-indices = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-offences = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-randomness-collective-flip = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-scheduler = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-session = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-staking-reward-curve = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-timestamp = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
pallet-treasury = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-authority-discovery = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-basic-authorship = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-block-builder = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-chain-spec = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-cli = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-client-api = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-client-db = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-consensus = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-consensus-babe = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-consensus-babe-rpc = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-consensus-epochs = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-consensus-slots = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-executor = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-finality-grandpa = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-finality-grandpa-rpc = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-keystore = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-light = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-network = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-rpc = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-rpc-api = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-service = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-telemetry = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sc-transaction-pool = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-api = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-application-crypto = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-arithmetic = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-authority-discovery = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-block-builder = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-blockchain = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-consensus = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-consensus-babe = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-consensus-slots = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-core = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-externalities = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-finality-grandpa = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-inherents = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-io = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-keystore = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-keyring = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-npos-elections = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-npos-elections-compact = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-offchain = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-rpc = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-runtime = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-runtime-interface = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-serializer = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-session = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-staking = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-state-machine = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-std = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-storage = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-timestamp = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-tracing = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-transaction-pool = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-trie = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
sp-version = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
substrate-frame-rpc-system = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
substrate-prometheus-endpoint = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
substrate-test-runtime-client = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
substrate-test-utils = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
substrate-test-utils-derive = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }
substrate-wasm-builder = { git = "https://github.com/PolymathNetwork/substrate", branch = "MESH-1680-libsecp256k1" }

[workspace]
members = [
    "bin/bench",
    "bin/crypto-cli",
    "bin/testing",
    #"migration-tests",
    #"migration-tests/remote-externalities",
    "node-rpc",
    "pallets/asset",
    "pallets/balances",
    "pallets/base",
    "pallets/bridge",
    "pallets/committee",
    "pallets/common",
    "pallets/compliance-manager",
    #"pallets/contracts",
    "pallets/corporate-actions",
    "pallets/external-agents",
    "pallets/group",
    "pallets/group/rpc",
    "pallets/group/rpc/runtime-api",
    "pallets/identity",
    "pallets/multisig",
    "pallets/pips",
    "pallets/protocol-fee",
    "pallets/rewards",
    "pallets/protocol-fee/rpc",
    "pallets/protocol-fee/rpc/runtime-api",
    "pallets/relayer",
    "pallets/runtime/common",
    "pallets/runtime/develop",
    "pallets/runtime/itn",
    "pallets/runtime/mainnet",
    "pallets/runtime/testnet",
    "pallets/runtime/tests",
    "pallets/settlement",
    "pallets/staking",
    "pallets/staking/rpc",
    "pallets/staking/rpc/runtime-api",
    "pallets/statistics",
    "pallets/sto",
    "pallets/transaction-payment",
    "pallets/treasury",
    "pallets/utility",
    "pallets/test-utils",
    "pallets/weights",
    "primitives",
    "rpc",
    "rpc/runtime-api",
    "utils/permissions",
]

[dependencies]
pallet-asset = { path = "pallets/asset" }
pallet-balances = { path = "pallets/balances", default-features = false  }
pallet-bridge = { path = "pallets/bridge", default-features = false }
pallet-committee = { path = "pallets/committee", default-features = false }
pallet-corporate-actions = { path = "pallets/corporate-actions", default-features = false }
pallet-external-agents = { path = "pallets/external-agents", default-features = false }
pallet-group = { path = "pallets/group", default-features = false }
pallet-identity = { path = "pallets/identity", default-features = false }
pallet-multisig = { path = "pallets/multisig", default-features = false }
pallet-pips = { path = "pallets/pips", default-features = false }
pallet-protocol-fee = { path = "pallets/protocol-fee", default-features = false }
pallet-staking = { path = "pallets/staking", default-features = false }
pallet-sudo = { path = "pallets/sudo", default-features = false }
pallet-rewards = { path = "pallets/rewards", default-features = false }
polymesh-common-utilities = { path = "pallets/common", default-features = false }
polymesh-primitives = { path = "primitives", default-features = false }
polymesh-runtime-common = { path = "pallets/runtime/common", default-features = false }

# RPC
node-rpc = { path = "rpc" }
node-rpc-runtime-api = { path = "rpc/runtime-api" }
pallet-group-rpc = { path = "pallets/group/rpc" }
pallet-group-rpc-runtime-api = { path = "pallets/group/rpc/runtime-api" }
pallet-protocol-fee-rpc = { path = "pallets/protocol-fee/rpc" }
pallet-protocol-fee-rpc-runtime-api = { path = "pallets/protocol-fee/rpc/runtime-api" }
pallet-staking-rpc-runtime-api = { path = "pallets/staking/rpc/runtime-api" }
polymesh-node-rpc = { path = "node-rpc" }

# Runtimes
polymesh-runtime-develop = { path = "pallets/runtime/develop" }
polymesh-runtime-itn = { path = "pallets/runtime/itn" }
polymesh-runtime-mainnet = { path = "pallets/runtime/mainnet" }
polymesh-runtime-testnet = { path = "pallets/runtime/testnet" }

# General
chrono = "0.4.11"
ed25519-dalek = "1.0.0"
futures = "0.3.4"
jsonrpc-core = { version = "15.0", features = ["arbitrary_precision"] }
log = "0.4.8"
serde = { version = "1.0.104", default-features = false }
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
structopt = "0.3.15"
rustc-hex = "2.1.0"

# Substrate
codec = { version = "2.0.0", package = "parity-scale-codec" }
frame-support = "3.0.0"
frame-system = "3.0.0"
frame-system-rpc-runtime-api = "3.0.0"
grandpa = { package = "sc-finality-grandpa", version = "0.9.0" }
#pallet-contracts = "3.0.0"
#pallet-contracts-rpc-runtime-api = "3.0.0"
pallet-im-online = "3.0.0"
pallet-indices = "3.0.0"
pallet-session = "3.0.0"
prometheus-endpoint = { package = "substrate-prometheus-endpoint", version = "0.9.0" }
sc-authority-discovery = "0.9.0"
sc-basic-authorship = "0.9.0"
sc-chain-spec = "3.0.0"
sc-cli = { version = "0.9.0", features = ["wasmtime"] }
sc-client-api = "3.0.0"
sc-client-db = "0.9.0"
sc-consensus = "0.9.0"
sc-consensus-babe = "0.9.0"
sc-consensus-slots = "0.9.0"
sc-executor = { version = "0.9.0", features = ["wasmtime"] }
sc-light = "3.0.0"
sc-network = "0.9.0"
sc-rpc = "3.0.0"
sc-service = { version = "0.9.0", features = ["wasmtime"] }
sc-telemetry = "3.0.0"
sc-transaction-pool = "3.0.0"
sp-api = "3.0.0"
sp-authority-discovery = "3.0.0"
sp-block-builder = "3.0.0"
sp-blockchain = "3.0.0"
sp-consensus = "0.9.0"
sp-consensus-babe = "0.9.0"
sp-consensus-slots = "0.9.0"
sp-core = "3.0.0"
sp-inherents = "3.0.0"
sp-offchain = "3.0.0"
sp-runtime = "3.0.0"
sp-session = "3.0.0"
sp-transaction-pool = { version = "3.0.0" }

# These dependencies are used for runtime benchmarking
frame-benchmarking = "3.0.0"
frame-benchmarking-cli = "3.0.0"

[build-dependencies]
vergen = "3.1.0"

[features]
default = ["std"]
running-ci = [ "polymesh-runtime-develop/running-ci" ]
default_identity = [ "polymesh-common-utilities/default_identity" ]
runtime-benchmarks = [ "polymesh-runtime-develop/runtime-benchmarks" ]

std = [
    "polymesh-common-utilities/std",
    "serde/std"
]
