[package]
name = "pallet-base"
version = "0.1.0"
authors = ["Polymath"]
edition = "2021"

[dependencies]
polymesh-primitives = { path = "../../primitives", default-features = false }
polymesh-common-utilities = { path = "../common", default-features = false }

# Others
serde = { version = "1.0.104", default-features = false }
serde_derive = { version = "1.0.104", optional = true, default-features = false  }

# Substrate
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
scale-info = { version = "2.0", default-features = false, features = ["derive"] }
sp-core = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }
sp-std = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }
sp-io = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }
sp-runtime = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }
sp-version = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }
sp-api = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }
frame-system = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }
frame-support = { git = "https://github.com/PolymeshAssociation/substrate", default-features = false, branch = "polymesh-v5-monthly-2023-03" }

[features]
default = ["std"]
no_std = []
std = [
    "codec/std",
    "sp-runtime/std",
    "frame-support/std",
    "frame-system/std",
    "sp-std/std",
    "polymesh-primitives/std",
    "polymesh-common-utilities/std",
]
