[package]
name = "pallet-base"
version = "0.1.0"
authors = ["PolymeshAssociation"]
edition = "2021"

[dependencies]
polymesh-primitives = { workspace = true, default-features = false }
polymesh-common-utilities = { workspace = true, default-features = false }

# Others
serde = { version = "1.0.104", default-features = false }
serde_derive = { version = "1.0.104", optional = true, default-features = false  }

# Substrate
codec = { workspace = true, default-features = false, features = ["derive"] }
scale-info = { workspace = true, default-features = false, features = ["derive"] }
sp-core = { workspace = true, default-features = false }
sp-std = { workspace = true, default-features = false }
sp-io = { workspace = true, default-features = false }
sp-runtime = { workspace = true, default-features = false }
sp-version = { workspace = true, default-features = false }
sp-api = { workspace = true, default-features = false }
frame-system = { workspace = true, default-features = false }
frame-support = { workspace = true, default-features = false }

[features]
default = ["std"]
no_std = []
std = [
    "codec/std",
    "sp-runtime/std",
    "frame-support/std",
    "frame-system/std",
    "sp-std/std",
    "polymesh-primitives/std",
    "polymesh-common-utilities/std",
]
