[package]
name = "pallet-base"
version = "0.1.0"
authors = ["Polymath"]
edition = "2018"

[dependencies]
polymesh-common-utilities = { path = "../common", default-features = false }

# Others
serde = { version = "1.0.104", default-features = false }
serde_derive = { version = "1.0.104", optional = true, default-features = false  }

# Substrate
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }
sp-version = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }
sp-api = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }

frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, tag = "pallet-contracts-v3.0.0" }

[features]
