[package]
name = "polymesh-runtime-develop"
version = "0.1.0"
authors = ["Polymath Inc."]
edition = "2021"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# Common
polymesh-common-utilities = { path = "../../common", default-features = false }
polymesh-runtime-common = { path = "../common", default-features = false }
polymesh-primitives = { path = "../../../primitives", default-features = false }
polymesh-weights = { path = "../../weights", default-features = false }
polymesh-extensions = { path = "../extensions", default-features = false }

# Our pallets
pallet-asset = { path = "../../asset", default-features = false }
pallet-balances = { path = "../../balances", default-features = false }
pallet-base = { path = "../../base", default-features = false }
pallet-bridge = { path = "../../bridge", default-features = false }
pallet-committee = { path = "../../committee", default-features = false }
pallet-compliance-manager = { path = "../../compliance-manager", default-features = false }
pallet-corporate-actions = { path = "../../corporate-actions", default-features = false }
pallet-external-agents = { path = "../../external-agents", default-features = false }
pallet-group = { path = "../../group", default-features = false }
pallet-identity = { path = "../../identity", default-features = false }
pallet-multisig = { path = "../../multisig", default-features = false }
pallet-nft = { path = "../../nft", default-features = false }
pallet-permissions = { path = "../../permissions", default-features = false }
pallet-pips = { path = "../../pips", default-features = false }
pallet-portfolio = { path = "../../portfolio", default-features = false }
pallet-protocol-fee = { path = "../../protocol-fee", default-features = false }
pallet-rewards = { path = "../../rewards", default-features = false }
pallet-relayer = { path = "../../relayer", default-features = false }
pallet-sto = { path = "../../sto", default-features = false }
pallet-settlement = { path = "../../settlement", default-features = false }
pallet-staking = { path = "../../staking", default-features = false }
pallet-staking-reward-curve = { version = "4.0.0-dev", default-features = false }
pallet-statistics = { path = "../../statistics", default-features = false }
pallet-test-utils = { path = "../../test-utils", default-features = false }
pallet-transaction-payment = { path = "../../transaction-payment", default-features = false }
pallet-treasury = { path = "../../treasury", default-features = false }
pallet-utility = { path = "../../utility", default-features = false }
pallet-sudo = { path = "../../sudo", default-features = false }
polymesh-contracts = { path = "../../contracts", default-features = false }

# Others
serde = { version = "1.0.104", default-features = false }
log = "0.4.8"

# Substrate
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
scale-info = { version = "2.0", default-features = false, features = ["derive"] }
sp-core = { version = "7.0.0", default-features = false }
sp-std = { version = "5.0.0", default-features = false }
sp-io = { version = "7.0.0", default-features = false }
sp-runtime = { version = "7.0.0", default-features = false }
sp-version = { version = "5.0.0", default-features = false }
sp-api = { version = "4.0.0-dev", default-features = false }
sp-inherents = { version = "4.0.0-dev", default-features = false }
sp-offchain = { version = "4.0.0-dev", default-features = false }
sp-staking = { version = "4.0.0-dev", default-features = false }
sp-consensus-babe = { version = "0.10.0-dev", default-features = false }
sp-consensus-grandpa = { version = "4.0.0-dev", default-features = false }
sp-session = { version = "4.0.0-dev", default-features = false }
sp-authority-discovery = { version = "4.0.0-dev", default-features = false }
sp-transaction-pool = { version = "4.0.0-dev", default-features = false }
sp-block-builder = { version = "4.0.0-dev", default-features = false }
sp-arithmetic = { version = "6.0.0", default-features = false }
#
pallet-authorship = { version = "4.0.0-dev", default-features = false }
pallet-contracts = { version = "4.0.0-dev", default-features = false }
pallet-contracts-primitives = { version = "7.0.0", default-features = false }
pallet-executive = { package = "frame-executive", version = "4.0.0-dev", default-features = false }
pallet-grandpa = { version = "4.0.0-dev", default-features = false }
pallet-im-online = { version = "4.0.0-dev", default-features = false }
pallet-indices = { version = "4.0.0-dev", default-features = false }
pallet-offences = { version = "4.0.0-dev", default-features = false }
pallet-preimage = { version = "4.0.0-dev", default-features = false }
pallet-session = { version = "4.0.0-dev", default-features = false }
pallet-timestamp = { version = "4.0.0-dev", default-features = false }
pallet-babe = { version = "4.0.0-dev", default-features = false }
pallet-authority-discovery = { version = "4.0.0-dev", default-features = false }
pallet-insecure-randomness-collective-flip = { version = "4.0.0-dev", default-features = false }
pallet-scheduler = { version = "4.0.0-dev", default-features = false }

frame-system = { version = "4.0.0-dev", default-features = false }
frame-support = { version = "4.0.0-dev", default-features = false }

# Crypto
confidential_identity_core = { version = "1.1.0", default-features = false }

# RPC
frame-system-rpc-runtime-api = { version = "4.0.0-dev", default-features = false }
pallet-group-rpc-runtime-api = { path = "../../group/rpc/runtime-api", default-features = false }
pallet-protocol-fee-rpc-runtime-api = { path = "../../protocol-fee/rpc/runtime-api", default-features = false }
pallet-staking-rpc-runtime-api = { path = "../../staking/rpc/runtime-api", default-features = false }
node-rpc-runtime-api = { path = "../../../rpc/runtime-api", default-features = false }

# Used for runtime benchmarking
frame-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }
frame-system-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }
hex-literal = { version = "0.3.1", optional = true }

# Import 'getrandom' here to enable feature `getrandom/js` for wasm builds.
getrandom = { version = "0.2.6", default-features = false, optional = true }

[build-dependencies]
polymesh-build-tool = { path = "../build_tool", default-features = false }

[features]
default = ["std", "equalize"]
equalize = []

ci-runtime = []

# Backends
u64_backend = ["confidential_identity_core/u64_backend"]

no_std = [
    "confidential_identity_core/no_std",
    "u64_backend"
]

std = [
		"polymesh-build-tool/std",
    "u64_backend",
    "codec/std",
    "frame-benchmarking?/std",
    "frame-support/std",
    "frame-system-rpc-runtime-api/std",
    "frame-system-benchmarking?/std",
    "frame-system/std",
    "node-rpc-runtime-api/std",
    "confidential_identity_core/std",
    "pallet-asset/std",
    "pallet-authority-discovery/std",
    "pallet-authorship/std",
    "pallet-base/std",
    "pallet-babe/std",
    "pallet-balances/std",
    "pallet-sto/std",
    "pallet-bridge/std",
    "pallet-committee/std",
    "pallet-compliance-manager/std",
    "pallet-contracts/std",
    "pallet-corporate-actions/std",
    "pallet-executive/std",
    "pallet-external-agents/std",
    "pallet-grandpa/std",
    "pallet-group-rpc-runtime-api/std",
    "pallet-group/std",
    "pallet-identity/std",
    "pallet-im-online/std",
    "pallet-indices/std",
    "pallet-multisig/std",
    "pallet-nft/std",
    "pallet-offences/std",
    "pallet-permissions/std",
    "pallet-preimage/std",
    "pallet-pips/std",
    "pallet-portfolio/std",
    "pallet-protocol-fee-rpc-runtime-api/std",
    "pallet-protocol-fee/std",
    "pallet-rewards/std",
    "pallet-relayer/std",
    "pallet-insecure-randomness-collective-flip/std",
    "pallet-scheduler/std",
    "pallet-session/std",
    "pallet-settlement/std",
    "pallet-staking-rpc-runtime-api/std",
    "pallet-staking/std",
    "pallet-statistics/std",
    "pallet-sudo/std",
    "pallet-test-utils/std",
    "pallet-timestamp/std",
    "pallet-transaction-payment/std",
    "pallet-treasury/std",
    "pallet-utility/std",
    "polymesh-common-utilities/std",
    "polymesh-primitives/std",
    "polymesh-runtime-common/std",
    "polymesh-weights/std",
    "serde/std",
    "sp-api/std",
    "sp-arithmetic/std",
    "sp-authority-discovery/std",
    "sp-block-builder/std",
    "sp-consensus-babe/std",
    "sp-consensus-grandpa/std",
    "sp-core/std",
    "sp-inherents/std",
    "sp-io/std",
    "sp-offchain/std",
    "sp-runtime/std",
    "sp-session/std",
    "sp-staking/std",
    "sp-std/std",
    "sp-transaction-pool/std",
    "sp-version/std",
    "polymesh-contracts/std",
    "polymesh-extensions/std",
]
runtime-benchmarks = [
		"getrandom/js",
    "frame-benchmarking/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
    "frame-system-benchmarking/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "pallet-babe/runtime-benchmarks",
    "pallet-indices/runtime-benchmarks",
    "pallet-grandpa/runtime-benchmarks",
    "pallet-preimage/runtime-benchmarks",
    "pallet-scheduler/runtime-benchmarks",
    "hex-literal",
    "pallet-asset/runtime-benchmarks",
    "pallet-balances/runtime-benchmarks",
    "pallet-committee/runtime-benchmarks",
    "pallet-compliance-manager/runtime-benchmarks",
    "pallet-contracts/runtime-benchmarks",
    "pallet-corporate-actions/runtime-benchmarks",
    "pallet-external-agents/runtime-benchmarks",
    "pallet-group/runtime-benchmarks",
    "pallet-identity/runtime-benchmarks",
    "pallet-multisig/runtime-benchmarks",
    "pallet-im-online/runtime-benchmarks",
    "pallet-permissions/runtime-benchmarks",
    "pallet-pips/runtime-benchmarks",
    "pallet-portfolio/runtime-benchmarks",
    "pallet-protocol-fee/runtime-benchmarks",
    "pallet-relayer/runtime-benchmarks",
    "pallet-rewards/runtime-benchmarks",
    "pallet-settlement/runtime-benchmarks",
    "pallet-sto/runtime-benchmarks",
    "pallet-staking/runtime-benchmarks",
    "pallet-statistics/runtime-benchmarks",
    "pallet-timestamp/runtime-benchmarks",
    "pallet-treasury/runtime-benchmarks",
    "pallet-utility/runtime-benchmarks",
    "pallet-test-utils/runtime-benchmarks",
    "pallet-staking/runtime-benchmarks",
    "polymesh-common-utilities/runtime-benchmarks",
    "polymesh-contracts/runtime-benchmarks",
    "polymesh-primitives/runtime-benchmarks",
    "polymesh-runtime-common/runtime-benchmarks",
    "sp-runtime/runtime-benchmarks",
    "pallet-nft/runtime-benchmarks"
]
running-ci = [
    "pallet-statistics/running-ci",
    "pallet-pips/running-ci",
    "pallet-identity/running-ci",
    "pallet-test-utils/running-ci",
]
