[package]
name = "polymesh-runtime-common"
version = "1.0.0"
authors = ["Polymath"]
edition = "2018"

[dependencies]
polymesh-common-utilities = { path = "../../common", default-features = false }
polymesh-primitives = { path = "../../../primitives", default-features = false }

pallet-asset = { path = "../../asset", default-features = false }
pallet-balances = { path = "../../balances", default-features = false  }
pallet-committee = { path = "../../committee", default-features = false }
pallet-compliance-manager = { path = "../../compliance-manager", default-features = false }
pallet-contracts = { version = "3.0.0", default-features = false }
pallet-identity = { path = "../../identity", default-features = false  }
pallet-multisig = { path = "../../multisig", default-features = false}
pallet-portfolio = { path = "../../portfolio", default-features = false  }

# RPC
pallet-group-rpc-runtime-api = { path = "../../group/rpc/runtime-api", default-features = false}

# General
serde = { version = "1.0.104", default-features = false }
rand = { version = "0.7.3", default-features = false }
smallvec = "1.4.0"

# Substrate
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
sp-core = { version = "3.0.0", default-features = false }
sp-std = { version = "3.0.0", default-features = false }
sp-io = { version = "3.0.0", default-features = false }
sp-runtime = { version = "3.0.0", default-features = false }
frame-support = { version = "3.0.0", default-features = false }
frame-system = { version = "3.0.0", default-features = false }

pallet-timestamp = { version = "3.0.0", default-features = false }
pallet-authorship = { version = "3.0.0", default-features = false }

# Only benchmarking
frame-benchmarking = { default-features = false, version = "3.0.0", optional = true }

[features]
equalize = []
only-staking = []
default = ["std", "equalize"]
no_std = []
std = [
    "frame-support/std",
    "frame-system/std",
    "pallet-asset/std",
    "pallet-authorship/std",
    "pallet-balances/std",
    "pallet-compliance-manager/std",
    "pallet-contracts/std",
    "pallet-group-rpc-runtime-api/std",
    "pallet-identity/std",
    "pallet-multisig/std",
    "pallet-portfolio/std",
    "pallet-timestamp/std",
    "polymesh-common-utilities/std",
    "polymesh-primitives/std",
    "serde/std",
    "sp-core/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-std/std",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "polymesh-common-utilities/runtime-benchmarks",
]
