[package]
name = "pallet-contracts-rpc"
version = "0.8.0-rc3"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"
license = "Apache-2.0"
homepage = "https://substrate.dev"
repository = "https://github.com/paritytech/substrate/"
description = "Node-specific RPC methods for interaction with contracts."

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.1" }
jsonrpc-core = "14.2.0"
jsonrpc-core-client = "14.2.0"
jsonrpc-derive = "14.2.1"
sp-blockchain = { git = "https://github.com/paritytech/substrate/", default-features = false, rev = "c771821cae2dcb5a8808a19fae8122c0b9ae8499" }
sp-core = { git = "https://github.com/paritytech/substrate/", default-features = false, rev = "c771821cae2dcb5a8808a19fae8122c0b9ae8499" }
sp-rpc = { git = "https://github.com/paritytech/substrate/", default-features = false, rev = "c771821cae2dcb5a8808a19fae8122c0b9ae8499" }
serde = { version = "1.0.101", features = ["derive"] }
sp-runtime = { git = "https://github.com/paritytech/substrate/", default-features = false, rev = "c771821cae2dcb5a8808a19fae8122c0b9ae8499" }
sp-api = { git = "https://github.com/paritytech/substrate/", default-features = false, rev = "c771821cae2dcb5a8808a19fae8122c0b9ae8499" }
pallet-contracts-primitives = { version = "2.0.0-rc3", path = "../common" }
pallet-contracts-rpc-runtime-api = { version = "0.8.0-rc3", path = "./runtime-api" }

[dev-dependencies]
serde_json = "1.0.41"
