[package]
name = "pallet-compliance-manager"
version = "0.1.0"
authors = ["Polymath"]
edition = "2018"

[dependencies]
# Common
polymesh-primitives = { path = "../../primitives", default-features = false }
polymesh-common-utilities = { path = "../common", default-features = false }

# Our pallets
pallet-base = { path = "../base", default-features = false }
pallet-external-agents = { path = "../external-agents", default-features = false }
pallet-identity = { path = "../identity", default-features = false  }
pallet-permissions = { path = "../permissions", default-features = false }
## Only for benchmarks
pallet-asset = { path = "../asset", optional = true, default-features = false }
pallet-balances = { path = "../balances", optional = true, default-features = false }

# Other
serde = { version = "1.0.104", default-features = false }
serde_derive = { version = "1.0.104", optional = true, default-features = false}
either = { version = "1.6.1", default-features = false }

# Substrate
codec = { package = "parity-scale-codec", version = "1.2.0", default-features = false, features = ["derive"] }
sp-core = { version = "2.0.1", default-features = false }
sp-std = { version = "2.0.1", default-features = false }
sp-io = { version = "2.0.1", default-features = false }
sp-runtime = { version = "2.0.1", default-features = false }
sp-version = { version = "2.0.1", default-features = false }
sp-api = { version = "2.0.1", default-features = false }

frame-system = { version = "2.0.1", default-features = false }
frame-support = { version = "2.0.1", default-features = false }
frame-benchmarking = { version = "2.0.1", default-features = false, optional = true }

pallet-timestamp = { version = "2.0.1", default-features = false }


[features]
equalize = []
default = ["std", "equalize"]
no_std = []
only-staking = []
std = [
	"serde_derive",
	"serde/std",
	"codec/std",
	"sp-std/std",
	"sp-io/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-version/std",
	"sp-api/std",
	"frame-system/std",
	"frame-support/std",
	"frame-benchmarking/std",
	"pallet-timestamp/std",
	"polymesh-common-utilities/std",
	"polymesh-primitives/std",
]

runtime-benchmarks = [
	"frame-benchmarking",
	"pallet-asset/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
]
